* {
    margin: 0;
    padding: 0;
    box-sizing: box-border;
}

body {
    margin: 0;
    background-color: #FFEBEE;
}

a {
    text-decoration: none;
}

li i {
    color: black;
}

/* section img {
    margin-top: 2rem;
    width: 50%;
} */

nav {
    /* position: fixed; */
    /* z-index: 20; */
    width: 100%;
    background: #FFEBEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1050px;
    width: 90px;
    margin: auto;
    height: 100%;
    position: absolute;
}

.navbar {
    width: 100%;
    box-shadow: 0 5px 4px rgb(146 161 176 / 15%);
    height: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

/* .nav-container-two {
    display: flex;
    flex-direction: row;;
} */

.navbar .menu-items {
    display: flex;
}

.navbar .nav-container a {
    text-decoration: none;
    color:#F9F8F8;
    font-weight: 500;
    font-size: 1.75rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    text-decoration: underline;
    color: #F06292;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #212738;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
    width: 75%;
}
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    width: 50%;
}

.navbar .menu-items {
    padding-top: 60px;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: - 40px;
    transition: transform 0.75s ease-in-out;
    text-align: center;
    list-style-type: none;
    background-color: black;
    background-image: url('./assets/svg/8.svg');
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Quicksand";
    color: #FFEBEE;
}

.navbar .menu-sub-items li {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Quicksand";
    color: #FFEBEE;
}

.navbar .menu-sub-items li i {
    font-size: 2rem;
    font-weight: 500;
    padding: 0 0.75rem;
    color: #FFEBEE;
}

.logo {
    position: absolute;
    top: 17px;
    right: 20px;
    font-size: 2.25rem;
    color: black;
}

.logo img {
    font-size: 2.25rem;
    cursor: pointer;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
    width: 100%;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
    width: 100%;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
    width: 100%;
}

.nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line {
    background: #F9F8F8;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 1.25rem;
    padding: 0;
}

.hero {
    /* background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/1.png'); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-position: center 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 92vh;
    margin: 1rem;
    padding: 10px 0px;
}

.carousel-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 2rem;
    width: 100%;
    margin: 1rem 1rem;
    overflow: hidden;
}

@keyframes fade {
    0% { 
    opacity: 1;
    }
  25% { 
    opacity: 1;
    }
  75% {
    opacity: 0;
  }
    100% { 
        opacity: 0;
    }
}

/* .overlay-1 {
    grid-row: 6/7;
    grid-column: 2/12;
    color: #ffffff;
    animation-name: fade;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
*/

.overlay-2 {
    grid-row: 10/11;
    grid-column: 6/12;
    color: #ffffff;
    animation-name: fade;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
}


.overlay-3 {
    grid-row: 2/4;
    grid-column: 1/12;
    color: #ffffff;
    text-align: center;
}

/* @keyframes fade {
    0% { 
    opacity: 1;
    }
  25% { 
    opacity: 1;
    }
  75% {
    opacity: 0;
  }
    100% { 
        opacity: 0;
    }
} */

.img-1 {
    background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/1.png');
    background-position: center 25%;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    grid-row: 1/13;
    grid-column: 1/13;
    width: 100%;
    animation-name: fade;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    overflow: hidden;
}

.img-2 {
    background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/7.png');
    background-position: center 25%;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    grid-row: 1/13;
    grid-column: 1/13;
    width: 100%;
    animation-name: fade;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    overflow: hidden;
}

.img-3 {
    background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/8.png');
    background-position: center 25%;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    grid-row: 1/13;
    grid-column: 1/13;
    width: 100%;
}


.main-heading {
    font-family: "Quicksand";
    font-weight: 100;
    text-align: left;
    font-size: 1.875rem;
    width: 69%;
    margin: 0 1.5rem;
}

.main-sub-heading {
    font-family: "Roboto";
    text-transform: uppercase;
    margin: 1rem 1.5rem;
    font-size: 1.75rem;
}

/* .main-img {
    width: 90%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 90vh;
    margin: 20px 0; 
} */

.about {
    background-image: url('./assets/imgs/2.png');
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-position: center 25%;
    background-size: cover;
    /* height: 100vh; */
}

.about-heading {
    font-family: "Quicksand";
    text-align: center;
    margin: 4rem;
    font-size: 2.5rem;
}

.about-heading-title {
    font-weight: 100;
}

.about-imgs {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    grid-gap: 2rem;
    width: 100%;
    margin: 1rem 1rem;
}

.img-4 {
    background: url(./assets/2.png);
    grid-row: 2/15;
    grid-column: 2/10;
    background-position: center 25%;
    background-size: cover;
}

.img-5 {
    background: url(./assets/3.png);
    grid-row: 7/19;
    grid-column: 8/19;
    background-position: center 25%;
    background-size: cover;
}

.img-6 {
    background: url(./assets/4.png);
    grid-row: 12/23;
    grid-column: 16/24;
    background-position: center 25%;
    background-size: cover;
}

.services {
    background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/5.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-position: center 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 92vh;
    margin: 1rem;
    padding: 10px 0px;
}

.services-2 {
    background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/6.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-position: center 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 92vh;
    margin: 1rem;
    padding: 10px 0px;
}

.services-wrapper .overlay {
    color: #ffffff;
}

.overlay a {
    outline: none;
    text-decoration: none;
}

.services-heading {
    font-family: "Quicksand";
    font-weight: 100;
    text-align: center;
    font-size: 2rem;
    width: 69%;
    margin: 0 1.5rem;
}

.services-sub-heading {
    font-family: "Quicksand";
    margin: 1rem 1.5rem;
    text-align: center;
    font-size: 2rem;
}

.services-cta {
    font-family: "Quicksand";
    margin: 1rem 1.5rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.services-cta:hover {
    border-bottom: #ffffff solid 1px;
}

.services-info {
    font-family: "Quicksand";
    margin: 1rem 1.5rem;
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

.services-info-more {
    margin: 4rem;
}

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0.5rem;
}

.contact-info {
    width: 100%;
    max-width: 83%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.contact-info h1 {
    font-family: "Quicksand";
    text-align: left;
    margin: 1rem;
    font-size: 2rem;
}

.contact-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-details {
    display: flex;
    flex-direction: column;
    max-width: 87%;
    margin: 0 2.7rem;
    font-family: "Roboto";
    width: 80%;
}

.contact-cta {
    font-family: "Quicksand";
    margin: 1rem 1.5rem;
    text-align: left;
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.contact-cta a {
    color: black;
    text-transform: none;
} 

.contact-cta a:hover {
    border-bottom: black solid 2px;
}

.contact-details-container p {
    font-family: "Roboto";
    margin: 1rem;
    font-size: 1.5rem;
}

.contact-booking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-booking-form h1 {
    font-weight: 100;

}

.booking-form {
    /* max-width: 87%; */
    margin: 0 2.7rem;
    font-family: "Roboto";
    width: 80%;
  }
  
  .form-group {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .form-group label {
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 90%;
    padding: 0.75rem;
    font-size: 1.25rem;
    border-bottom: 1px solid #000;
    outline: none;
    background: #ffebee;
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }
  
  .form-group textarea {
    height: 150px;
  }
  
  .form-group .btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #F06292;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .form-group .btn:hover {
    background-color: #FFEBEE;
  }
  

.contact-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand";
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.ks-contact {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    text-decoration: none;
    color: black;
    border-bottom: 0px;
}

.ks-contact:hover {
    border-bottom: black solid 1px;
}

@media (max-width: 1200px) { 
    .navbar .nav-container a {
        font-weight: 500;
        font-size: 1.75rem;
        padding: 0.7rem;
    }

    .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 2rem;
        font-weight: 500;
    }
    
    .navbar .menu-sub-items li {
        margin-bottom: 1.2rem;
        font-size: 2rem;
        font-weight: 500;
    }
    
    .navbar .menu-sub-items li i {
        font-size: 2rem;
        font-weight: 500;
        padding: 0 0.75rem;
    }
    
    .logo {
        font-size: 2.25rem;
    }
    
    .logo img {
        font-size: 2.25rem;
    }

    .img-1 {
        background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/1.png');
        background-position: center 25%;
        background-size: cover;
        grid-row: 1/13;
        grid-column: 1/13;
    }
    
    .img-2 {
        background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/7.png');
        background-position: center 25%;
        background-size: cover;
        grid-row: 1/13;
        grid-column: 1/13;
    }
    
    .img-3 {
        background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/8.png');
        background-position: center 25%;
        background-size: cover;
        grid-row: 1/13;
        grid-column: 1/13;
    }
    
    .main-heading {
        font-size: 1.875rem;
        margin: 0 1.5rem;
    }
    
    .main-sub-heading {
        margin: 1rem 1.5rem;
    }

    .about-heading {
        margin: 4rem;
        font-size: 2.5rem;
    }
    
    .about-imgs {
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: repeat(24, 1fr);
        grid-gap: 2rem;
    }
    
    .img-4 {
        background: url(./assets/2.png);
        grid-row: 1/11;
        grid-column: 2/10;
        background-position: center 25%;
        background-size: cover;
    }
    
    .img-5 {
        background: url(./assets/3.png);
        grid-row: 5/16;
        grid-column: 8/17;
        background-position: center 25%;
        background-size: cover;
    }
    
    .img-6 {
        background: url(./assets/4.png);
        grid-row: 11/20;
        grid-column: 15/24;
        background-position: center 25%;
        background-size: cover;
    }

    .services-heading {
        font-size: 2rem;
        width: 69%;
        margin: 0 1.5rem;
    }
    
    .services-sub-heading {
        margin: 1rem 1.5rem;
        font-size: 2rem;
    }
    
    .services-cta {
        margin: 1rem 1.5rem;
        font-size: 1.5rem;
    }

    .services-info {
        margin: 1rem 1.5rem;
        font-size: 1.5rem;
    }

    .contact-info h1 {
        text-align: left;
        margin: 0.5rem;
        font-size: 2rem;
    }
    
    .contact-info p {
        margin: 0.5rem;
        font-size: 1.5rem;
    }

    .form-group input,
    .form-group textarea,
    .form-group select,
    .form-group label {
      padding: 0.75rem;
      font-size: 1.25rem;
    }
    
    .form-group .btn {
      padding: 0.75rem 1.5rem;
      font-size: 1.25rem;
    }

    .contact-footer {
        font-size: 1.5rem;
    }
}

@media (max-width: 992px) { 
    .navbar .nav-container a {
        font-weight: 500;
        font-size: 1.5rem;
        padding: 0.7rem;
    }

    .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.875rem;
        font-weight: 500;
    }
    
    .navbar .menu-sub-items li {
        margin-bottom: 1.2rem;
        font-size: 1.875rem;
        font-weight: 500;
    }
    
    .navbar .menu-sub-items li i {
        font-size: 1.875rem;
        font-weight: 500;
        padding: 0 0.75rem;
    }
    
    .logo {
        font-size: 2rem;
    }
    
    .logo img {
        font-size: 2rem;
    }

    .img-1 {
        background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/1.png');
        background-position: center 25%;
        background-size: cover;
        grid-row: 1/13;
        grid-column: 1/13;
    }
    
    .img-2 {
        background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/7.png');
        background-position: center 25%;
        background-size: cover;
        grid-row: 1/13;
        grid-column: 1/13;
    }
    
    .img-3 {
        background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/8.png');
        background-position: center 25%;
        background-size: cover;
        grid-row: 1/13;
        grid-column: 1/13;
    }
    
    .main-heading {
        font-size: 1.75rem;
        margin: 0 1.5rem;
    }
    
    .main-sub-heading {
        margin: 1rem 1.5rem;
    }

    .about-heading {
        margin: 4rem;
        font-size: 2.25rem;
    }
    
    .about-imgs {
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: repeat(24, 1fr);
        grid-gap: 2rem;
    }
    
    .img-4 {
        background: url(./assets/2.png);
        grid-row: 2/13;
        grid-column: 2/12;
        background-position: center;
        background-size: cover;
    }
    
    .img-5 {
        background: url(./assets/3.png);
        grid-row: 9/19;
        grid-column: 8/17;
        background-position: center;
        background-size: cover;
    }
    
    .img-6 {
        background: url(./assets/4.png);
        grid-row: 14/24;
        grid-column: 15/24;
        background-position: center;
        background-size: cover;
    }

    .services-heading {
        font-size: 1.875rem;
        width: 69%;
        margin: 0 1.5rem;
    }
    
    .services-sub-heading {
        margin: 1rem 1.5rem;
        font-size: 1.875rem;
    }
    
    .services-cta {
        margin: 1rem 1.5rem;
        font-size: 1.25rem;
    }

    .services-info {
        margin: 1rem 1.5rem;
        font-size: 1.25rem;
    }

    .contact-info h1 {
        text-align: left;
        margin: 0.5rem;
        font-size: 1.875rem;
    }
    
    .contact-info p {
        margin: 0.5rem;
        font-size: 1.25rem;
    }

    .form-group input,
    .form-group textarea,
    .form-group select,
    .form-group label {
      padding: 0.75rem;
      font-size: 1.125rem;
    }
    
    .form-group .btn {
      padding: 0.75rem 1.5rem;
      font-size: 1.125rem;
    }

    .contact-footer {
        font-size: 1.25rem;
    }
}

@media (max-width: 768px) { 
    .navbar .nav-container a {
        font-weight: 500;
        font-size: 1.25rem;
        padding: 0.7rem;
    }

    .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.75rem;
        font-weight: 500;
    }
    
    .navbar .menu-sub-items li {
        margin-bottom: 1.2rem;
        font-size: 1.75rem;
        font-weight: 500;
    }
    
    .navbar .menu-sub-items li i {
        font-size: 1.75rem;
        font-weight: 500;
        padding: 0 0.75rem;
    }
    
    .logo {
        font-size: 1.75rem;
    }
    
    .logo img {
        font-size: 2rem;
    }

    .img-1 {
        background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/1.png');
        background-position: center 25%;
        background-size: cover;
        grid-row: 1/13;
        grid-column: 1/13;
    }
    
    .img-2 {
        background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/7.png');
        background-position: center 25%;
        background-size: cover;
        grid-row: 1/13;
        grid-column: 1/13;
    }
    
    .img-3 {
        background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/8.png');
        background-position: center 25%;
        background-size: cover;
        grid-row: 1/13;
        grid-column: 1/13;
    }
    
    .main-heading {
        font-size: 1.75rem;
        margin: 0 1.5rem;
    }
    
    .main-sub-heading {
        margin: 1rem 1.5rem;
    }

    .about-heading {
        margin: 4rem;
        font-size: 2.25rem;
    }
    
    .about-imgs {
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: repeat(24, 1fr);
        grid-gap: 2rem;
    }
    
    .img-4 {
        background: url(./assets/2.png);
        grid-row: 3/13;
        grid-column: 2/12;
        background-position: center;
        background-size: cover;
    }
    
    .img-5 {
        background: url(./assets/3.png);
        grid-row: 10/19;
        grid-column: 8/18;
        background-position: center;
        background-size: cover;
    }
    
    .img-6 {
        background: url(./assets/4.png);
        grid-row: 16/24;
        grid-column: 14/22;
        background-position: center;
        background-size: cover;
    }

    .services-heading {
        font-size: 1.75rem;
        width: 69%;
        margin: 0 1.5rem;
    }
    
    .services-sub-heading {
        margin: 1rem 1.5rem;
        font-size: 1.75rem;
    }
    
    .services-cta {
        margin: 1rem 1.5rem;
        font-size: 1.125rem;
    }

    .services-info {
        margin: 1rem 1.5rem;
        font-size: 1.125rem;
    }

    .contact-info h1 {
        text-align: left;
        margin: 0.5rem;
        font-size: 1.75rem;
    }
    
    .contact-info p {
        margin: 0.5rem;
        font-size: 1.125rem;
    }

    .form-group input,
    .form-group textarea,
    .form-group select,
    .form-group label {
      padding: 0.75rem;
      font-size: 1rem;
    }
    
    .form-group .btn {
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
    }

    .contact-footer {
        font-size: 1.125rem;
    }
}

@media (max-width: 640px) { 
    .navbar .nav-container a {
        font-weight: 500;
        font-size: 1.125rem;
        padding: 0.7rem;
    }

    .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    .navbar .menu-sub-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    .navbar .menu-sub-items li i {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 0 0.75rem;
    }
    
    .logo {
        font-size: 1.5rem;
    }
    
    .logo img {
        font-size: 1.875rem;
    }

    .img-1 {
        background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/1.png');
        background-position: center 25%;
        background-size: cover;
        grid-row: 1/13;
        grid-column: 2/10;
    }
    
    .img-2 {
        background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/7.png');
        background-position: center 25%;
        background-size: cover;
        grid-row: 1/13;
        grid-column: 1/16;
    }
    
    .img-3 {
        background: linear-gradient(rgba(240, 98, 146, 0.8), rgba(240, 98, 146, 0.8)), url('./assets/8.png');
        background-position: center 25%;
        background-size: cover;
        grid-row: 1/13;
        grid-column: 1/16;
    }
    
    .main-heading {
        font-size: 1.5rem;
        margin: 0 1.5rem;
    }
    
    .main-sub-heading {
        margin: 1rem 1.5rem;
    }

    .about-heading {
        margin: 4rem;
        font-size: 2rem;
    }
    
    .about-imgs {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(19, 1fr);
        grid-gap: 2rem;
    }
    
    .img-4 {
        background: url(./assets/2.png);
        grid-row: 2/11;
        grid-column: 2/10;
        background-position: center;
        background-size: cover;
    }
    
    .img-5 {
        background: url(./assets/3.png);
        grid-row: 7/14;
        grid-column: 7/14;
        background-position: center;
        background-size: cover;
    }
    
    .img-6 {
        background: url(./assets/4.png);
        grid-row: 11/19;
        grid-column: 11/18;
        background-position: center;
        background-size: cover;
    }

    .services-heading {
        font-size: 1.5rem;
        width: 69%;
        margin: 0 1.5rem;
    }
    
    .services-sub-heading {
        margin: 1rem 1.5rem;
        font-size: 1.5rem;
    }
    
    .services-cta {
        margin: 1rem 1.5rem;
        font-size: 1rem;
    }

    .services-info {
        margin: 1rem 1.5rem;
        font-size: 1rem;
    }

    .contact-info h1 {
        text-align: left;
        margin: 0.5rem;
        font-size: 1.5rem;
    }
    
    .contact-info p {
        margin: 0.5rem;
        font-size: 1rem;
    }

    .form-group input,
    .form-group textarea,
    .form-group select,
    .form-group label {
      padding: 0.75rem;
      font-size: 0.875rem;
    }
    
    .form-group .btn {
      padding: 0.75rem 1.5rem;
      font-size: 0.875rem;
    }

    .contact-footer {
        font-size: 1rem;
    }
}

@media (max-width: 515px) {
     .about-imgs {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(19, 1fr);
        grid-gap: 2rem;
    }
    
    .img-4 {
        background: url(./assets/2.png);
        grid-row: 2/9;
        grid-column: 3/10;
        background-position: center;
        background-size: cover;
    }
    
    .img-5 {
        background: url(./assets/3.png);
        grid-row: 6/15;
        grid-column: 7/13;
        background-position: center;
        background-size: cover;
    }
    
    .img-6 {
        background: url(./assets/4.png);
        grid-row: 12/19;
        grid-column: 11/17;
        background-position: center;
        background-size: cover;
    }
}

@media (max-width: 428px) {
     .about-imgs {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(19, 1fr);
        grid-gap: 2rem;
    }
    
    .img-4 {
        background: url(./assets/2.png);
        grid-row: 2/9;
        grid-column: 2/8;
        background-position: center;
        background-size: cover;
    }
    
    .img-5 {
        background: url(./assets/3.png);
        grid-row: 6/15;
        grid-column: 5/12;
        background-position: center;
        background-size: cover;
    }
    
    .img-6 {
        background: url(./assets/4.png);
        grid-row: 12/19;
        grid-column: 9/15;
        background-position: center;
        background-size: cover;
    }
}